{% block home_callout %}
    {% if activities is not empty %}
        <section class="gallery parallax py-5 d-none d-md-block" id="gallery">
            <div class="container text-center">
                <div class="content-section-heading mb-3">
                    <span class="h2">{{ 'app.home.gallery.title'|trans }}</span>
                </div>
                <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for activity in activities %}
                            <li data-target="#galleryCarousel" data-slide-to="{{ loop.index - 1 }}" class="{% if loop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for activity in activities %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img class="d-block w-100 img-fluid" src="{{ asset("uploads/files/"~activity.getImageName()) }}" alt="{{ activity.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev" title="Photo précédente">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">{{ 'app.global.next' }}</span>
                    </a>
                    <a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next" title="Photo suivante">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">{{ 'app.global.previous'|trans }}</span>
                    </a>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
