{% block home_map %}
    <!-- Map -->
    <section id="contact" class="">
        <div class="container-fluid mt-3 mb-5">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid" src="{{ asset("build/images/lyon.jpg") }}" alt="La région de lyon">
                        <!-- Google Maps -->
                    </div>
                    <div class="col-10 col-md-4 mx-auto align-self-center py-4">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid" src="{{ asset("build/images/logoRK.jpeg") }}" alt="Logo de {{ 'author'|trans }}">
                            </div>
                            <div class="col-md-6 d-flex flex-column justify-content-center">
                                <h6 class="font-weight-bold grey-text text-uppercase small">{{ 'app.contact.dev'|trans }}</h6>
                                <h5 class="font-weight-normal mb-4">{{ 'author'|trans }}</h5>
                                <p class="text-muted font-weight-light">{{ 'app.contact.zone'|trans }}</p>
                                <p class="text-muted font-weight-light mb-0">{{ 'app.contact.email'|trans }} {{ 'email'|trans }}</p>
                                <p class="text-muted font-weight-light mb-0">{{ 'app.global.siret'|trans }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <form action="{{ path('contact_request') }}" method="post">
                    <div class="card-body form">
                        <h2 class="font-weight-bold dark-grey-text mt-4"><i class="icon-envelope pr-2 mr-1"></i>{{ 'app.global.contact_us'|trans }}</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-2">
                                    <label for="form-contact-name" class="">{{ 'app.global.name'|trans }}</label>
                                    <input name="name" type="text" id="form-contact-name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-2">
                                    <label for="form-contact-email" class="">{{ 'app.global.email'|trans }}</label>
                                    <input name="email" type="text" id="form-contact-email" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-2">
                                    <label for="form-contact-phone" class="">{{ 'app.global.phone'|trans }}</label>
                                    <input name="phone" type="text" id="form-contact-phone" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-2">
                                    <label for="form-contact-company" class="">{{ 'app.global.company'|trans }}</label>
                                    <input name="company" type="text" id="form-contact-company" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-2">
                                    <label for="form-contact-message">{{ 'app.global.message'|trans }}</label>
                                    <textarea name="message" id="form-contact-message" class="form-control md-textarea" rows="3" required></textarea>
                                    <hr>
                                    <button class="btn btn-flat btn-lg float-right" type="submit">
                                        <i class="icon-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
