{% block home_services %}
    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container">
            <div class="content-section-heading">
                <h2 class="mb-5">{{ 'app.home.services.title'|trans }}</h2>
            </div>
            <div class="row">
                {% for skill in skills %}
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                      <i class="{{ skill.icon }}"></i>
                    </span>
                    <span class="h4 mb-5">
                        <strong>{{ skill.name }}</strong>
                    </span>
                    <hr>
                        <p class="text-justify">{{ skill.firstDescription }}</p>
                    <br/>
                    <div class="text-faded mb-0"><p class="text-justify">{{ skill.secondDescription }}</p></div>
                    {% if skill.link is defined and skill.link is not null %}
                        <a href="{{ skill.link }}" title="{{ skill.name }}">
                            <i class="icon-plus"></i>
                        </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
