<h1>Prise de contact</h1>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Entreprise</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ name }}</td>
            <td>{{ email }}</td>
            <td>{{ phone }}</td>
            <td>{{ company }}</td>
        </tr>
    </tbody>
</table>

<h2>Message</h2>

<p>{{ message }}</p>
