{% block navigation %}
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="#page-top">{{ 'author'|trans }}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#page-top">{{ 'app.global.home'|trans }}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#about">{{ 'app.global.about'|trans }}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#services">{{ 'app.global.services'|trans }}</a>
            </li>
            <li class="d-none d-md-block sidebar-nav-item">
                <a class="js-scroll-trigger" href="#gallery">{{ 'app.global.gallery'|trans }}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#portfolio">{{ 'app.global.portfolio'|trans }}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#contact">{{ 'app.global.contact'|trans }}</a>
            </li>
            <li class="sidebar-nav-item d-flex flex-row justify-content-center">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/redwan-kara-8014a2183/">
                    <i class="icon-social-linkedin"></i>
                </a>
                <a class="social-link rounded-circle text-white" href="https://github.com/RedwanK">
                    <i class="icon-social-github"></i>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
